{% extends 'MainApp/base.html' %}
{% load static %}
{% block content %}

<div style="display: block; margin-top: 90px;">
</div>

<div id="team-head">
  <h2 style="font-weight: bold; font-family: 'Roboto Slab', serif;">The <span
      style="color: blue; font-family: 'Roboto Slab', serif;">Team</span> that made it possible!</h2>
</div>




<div class="profile-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">

          <div class="img2"><img src="{% static 'img/gaurav.png' %}" alt="" srcset=""></div>
          <!-- <div class="img1"><img src="#" alt="" srcset=""></div> -->
          <div class="main-text">
            <h2>Gaurav Boob</h2>
            <h5>Frontend Developer</h5>
          </div>
          <div class="socials">
            <a href="https://www.linkedin.com/in/gaurav-boob-161ab3200/" target="_blank"> <i
                class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/gaurav_24_/" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card">

          <div class="img2"><img src="{% static 'img/yash (2).png' %}" alt="" srcset=""></div>
          <!-- <div class="img1"><img src="#" alt="" srcset=""></div> -->
          <div class="main-text">
            <h2>Yash Patil</h2>
            <h5>Frontend Developer</h5>
          </div>
          <div class="socials">
            <a href="https://www.linkedin.com/in/yash-patil-9b4650205/" target="_blank"><i
                class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/_._yashp_._/" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card">

          <div class="img2"><img src="{% static 'img/kushal.png' %}" alt="" srcset=""></div>
          <!-- <div class="img1"><img src="#" alt="" srcset=""></div> -->
          <div class="main-text">
            <h2>Kushal Bhattad</h2>
            <h5>Marketing</h5>
          </div>
          <div class="socials">
            <a href="https://www.linkedin.com/in/kushal-bhattad-a12b87200/" target="_blank"><i
                class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/kushal_bhattad/" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-area1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">

          <div class="img2"><img src="{% static 'img/ME.jpg' %}" alt="" srcset=""></div>
          <!-- <div class="img1"><img src="#" alt="" srcset=""></div> -->
          <div class="main-text">
            <h2>Neeraj Bukane </h2>
            <h5>Backend Developer</h5>
          </div>
          <div class="socials">
            <a href="https://www.linkedin.com/in/neeraj-bukane-9023b7206/" target="_blank"> <i
                class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/__.neeraj3062.__/" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card">

          <div class="img2"><img src="{% static 'img/nehil (2).png' %}" alt="" srcset=""></div>
          <!-- <div class="img1"><img src="#" alt="" srcset=""></div> -->
          <div class="main-text">
            <h2>Nehil Gajare</h2>
            <h5>Backend Developer</h5>
          </div>
          <div class="socials">
            <a href="https://www.linkedin.com/in/nehil-gajare-10546b205/" target="_blank"><i
                class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/nehil_82/" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card">

          <div class="img2"><img src="{% static 'img/khushi.png' %}" alt="" srcset=""></div>
          <!-- <div class="img1"><img src="#" alt="" srcset=""></div> -->
          <div class="main-text">
            <h2>Khushi Shah</h2>
            <h5>Content Head</h5>
          </div>
          <div class="socials">
            <a href="https://www.linkedin.com/in/khushi-shah-006532223/" target="_blank"> <i
                class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/khushixshah/" target="_blank"> <i class="fa fa-instagram"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}